@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input type="button" value="Create" onclick="location.href='@Url.Action( "FindFullLink", "Home")'" />
<input type="button" value="Create" onclick="location.href='@Url.Action( "CreateShortLink", "Home")'" />
<input type="button" value="Create" onclick="location.href='@Url.Action( "ListShortLinks", "Home")'" />


<p>Use this area to provide additional information.</p>
